# python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# test
test*
Untitled*

log
checkpoints

# data
data
*.txt
*.csv
*.tar.gz
*.zip

# idea
.idea
.vscode

# py compile file
*.pyc
*.pyo

# env
.venv
.env
.venv
env
venv
ENV
env.bak
venv.bak

# paper
# paper
*.pdf

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# data
checkpoint
pickle
result

*.Ds_store

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml


## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
_*